$prime-color-base03: #002b36;
$prime-color-base02: #073642;
$prime-color-base01: #586e75;
$prime-color-base00: #657b83;
$prime-color-base0: #839496;
$prime-color-base1: #93a1a1;
$prime-color-base2: #eee8d5;
$prime-color-base3: #fdf6e3;
$prime-color-yellow: #b58900;
$prime-color-orange: #cb4b16;
$prime-color-red: #dc322f;
$prime-color-magenta: #d33682;
$prime-color-violet: #6c71c4;
$prime-color-blue: #268bd2;
$prime-color-cyan: #2aa198;
$prime-color-green: #859900;