@font-face {
	font-family: "PlayFair Display";
	display: swap;
	src: url("@/assets/font/PlayfairDisplay.ttf") format("truetype");
}

@font-face {
	display: swap;
	font-family: "Source Sans Pro";
	font-weight: normal;
	src: url("@/assets/font/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
	display: swap;
	font-family: "Source Sans Pro";
	font-weight: bold;
	src: url("@/assets/font/SourceSansPro-Bold.ttf") format("truetype");
}
