@use "../02-tools/functions/index"	as *;

@use "sass:color";

/* ========================================================================== */

$button_background-color: #DFCA8844;
$button_background-color_active: color.adjust($button_background-color, $lightness: -60%);

button {
	// Needed for iOS to have the active styling applied to the button when
	// interacting with the button using touch.
	-webkit-tap-highlight-color: #{$button_background-color_active};

	align-items: center;
	background-color: $button_background-color;
	border: none;
	color: inherit;
	cursor: pointer;
	display: inline-flex;
	font: inherit;
	gap: get-spacing(x-small);
	justify-content: center;
	padding: get-spacing(x-small) get-spacing();
	touch-action: manipulation;
	user-select: none;

	&:not(:disabled) {
		&:active,
		&:focus {
			color: var(--button-text-color-hover);
			outline: none;
			text-decoration: underline;
		}

		&:active {
			background-color: $button_background-color_active;
		}

		@media(hover: hover) {
			&:hover {
				color: var(--button-text-color-hover);
				outline: none;
				text-decoration: underline;
			}
		}
	}

	&:disabled {
		cursor: default;
		opacity: 0.5;
	}
}