@use "../02-tools/functions/index"	as *;

/* ========================================================================== */

select {
	background-color: var(--input-background-color);
	border: 1px solid var(--input-border-color);
	border-radius: 0;
	color: inherit;
	font: inherit;
	padding: get-spacing(x-small);
	position: relative;

	&:focus,
	&:hover {
		border-color: var(--input-border-color-hover);
		outline: none;
	}
}